h1 {
    font-family: Impact, Haettenschweiler, 'sans-serif',  ;
    text-align: center;
    color:rgb(255, 0, 8);
    }    
p{
    font-family: sans-serif;
    text-align: center;
    color: rgb(32, 75, 118);
 }
a{
color:rgb(0, 179, 167);
text-decoration: none;
}
a:hover{
text-decoration: underline;
}
#todays-challenge {
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size:52px ;
}
img{
    width:200px;
    height:200px;
    border-radius: 100px ;
}
body{
    text-align:center ;
    background-color: rgb(196, 137, 0);
    margin:50px;
}